environment         = "dev"
app_name            = "coda-interview"
aws_region          = "ap-southeast-1"
availability_zone_a = "ap-southeast-1a"
availability_zone_b = "ap-southeast-1b"

ecs_task_cpu      = "256"
ecs_task_memory   = "512"
app_port          = 8080
ecs_desired_count = 2

app_version       = "1"
enable_autoscaling = true